<!-- app.component.html -->
<div class="container">
  <!-- Taskbar (Navigation Bar) -->
  <nav class="taskbar">
    <ul>
      <li><a href="#home">Home</a></li>
      <li><a href="#work">Work</a></li>
      <li><a href="#about">About</a></li>
      <li><a href="#contact">Contact</a></li>
    </ul>
  </nav>

  <!-- Home Section -->
  <section id="home" class="section home">
    <div class="home-content">
      <div class="left">
        <h1>S KAVINESH KUMAR</h1>
        <p>Web Developer | BACK-END .NET DEVELOPER</p>
        <p>ACCENTURE</p>
        <p class="career-objective">Backend Developer with 2 years of experience specialized in API design and development with ASP.NET 
          Web API in an MVC framework utilizing Agile methodology. Currently honing skills in Angular for fullstack development. Displays a great ability to troubleshoot and optimize back-end systems, resulting in 
          efficient and effective solutions. Seeking to leverage my backend development skills and improving frontend capabilities.</p>
      </div>
      <div class="right">
        <img src="assets/kavinesh.png" alt="Your Photo" class="profile-photo" />
      </div>
    </div>
  </section>

  <!-- Work Section -->
  <section id="work" class="section work">
    <h2>My Work</h2>
    <div class="skills">
      <h3>Skills & Experience</h3>
      <div class="skill-boxes">
        <div class="skill-box">
          <h4>Programming Languages</h4>
          <ul>
            <li>C#</li>
            <li>TypeScript</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Web Development</h4>
          <ul>
            <li>ASP.NET Core</li>
            <li>ADO.Net</li>
            <li>ASP.NET MVC</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Web APIs</h4>
          <ul>
            <li>ASP.NET Web API</li>
            <li>RESTful Services</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Database Technologies</h4>
          <ul>
            <li>SQL Server</li>
            <li>PostgreSQL</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Frontend Technologies</h4>
          <ul>
            <li>HTML5</li>
            <li>CSS3</li>
            <li>JavaScript</li>
            <li>Angular 14 & 17</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Version Control</h4>
          <ul>
            <li>Git</li>
            <li>Azure DevOps</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Cloud Technologies</h4>
          <ul>
            <li>Azure</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Tools & IDEs</h4>
          <ul>
            <li>Visual Studio IDE 2022</li>
            <li>Visual Studio Code</li>
            <li>Postman Script</li>
            <li>Burp Suite</li>
            <li>Azure Data Studio</li>
          </ul>
        </div>
        <div class="skill-box">
          <h4>Additional Skills</h4>
          <ul>
            <li>Object-Oriented Programming (OOP)</li>
          </ul>
        </div>
      </div>
    </div>


  <div class="experience">
    <div class="company">
      <h4> <strong>ACCENTURE PVT LTD, CHENNAI</strong></h4>
      <p><strong>Custom Software Developer Analyst</strong> | <em>Nov 2022 - Present</em></p>
    </div>

    <div class="project">
      <p><strong>Project Title:</strong> <em>ARC Digital Workspace (2023 – till date), ARC Workbench (2024 - till date)</em></p>
    </div>

    <div class="technologies">
      <p><strong>Technologies Used:</strong> Azure DevOps, PostgreSQL, .NET 8.0, Angular 14 & 17</p>
    </div>

    <div class="achievements">
      <p><strong>Key Achievements:</strong></p>
      <ul>
        <li>Optimized database access by implementing ADO.NET and Entity Framework, resulting in a 40% reduction in data retrieval time for critical API endpoints.</li>
        <li>Successfully designed and implemented an MVP architecture for a complex application, improving code maintainability and separation of concerns, leading to a 30% decrease in bugs.</li>
        <li>Performed penetration testing with Burp Suite to ensure data leak security.</li>
        <li>Developed and deployed RESTful APIs using ASP.NET Core, facilitating seamless integration with front-end applications and third-party services, enhancing overall system functionality.</li>
        <li>Conducted performance tuning and optimization of database queries using Entity Framework, resulting in significant improvement in application performance and user response times.</li>
        <li>Developed a wrapper API to seamlessly integrate with our application, streamlining interactions and enhancing overall system integration.</li>
        <li>Developed comprehensive documentation for API endpoints and database schemas, improving onboarding processes for new developers and maintaining consistency across the team.</li>
        <li>Incorporated user feedback into the development cycle, resulting in the implementation of features that increased user satisfaction ratings by 20%.</li>
        <li>Completing the task and triggering the pipeline, pushing it to the next environment.</li>
      </ul>
    </div>
  </div>




  <!-- About Section -->
  <section id="about" class="section about">
    <h2>About Me</h2>
    <p><strong>Address:</strong> Coimbatore, Tamil nadu</p>
    <p><strong>Phone:</strong> 7502007455</p>
    <p><strong>Education:</strong> Kongu Engineering College  <br>   &nbsp; &nbsp;  Bachelor of Electronic Communication Engineering <br>&nbsp; &nbsp; <b>Grade :8.2 CGPA</b> </p>
    <p><strong>Hobbies:</strong> Watching Anime, Movies, Reading Manga, Traveling </p>

    <div class="social-links">
      <a href="https://www.instagram.com/kavi__kavinesh/" target="_blank">
        <img src="assets/instagram.png" alt="instagram" />
      </a>
      <a href="https://www.linkedin.com/in/kavinesh-kumar-s-0a8351159?lipi=urn%3Ali%3Apage%3Ad_flagship3_profile_view_base_contact_details%3Bc6lW41CzTeu6E3g9x%2BMocQ%3D%3D" target="_blank">
        <img src="assets/linkedin.png" alt="LinkedIn" />
      </a>
      <a href="mailto:kavikavinesh131@gmail.com" target="_blank">
        <img src="assets/gmail-logo.png" alt="Email" />
      </a>
    </div>
  </section>

  <!-- Contact Section -->
   <div>
  <section id="contact" class="section contact">
    <h2>Contact</h2>
    <form action="mailto:kavikavinesh131@gmail.com" method="POST" enctype="text/plain">
      <label for="name">Name:</label>
      <input type="text" id="name" name="name" required />

      <label for="phone">Phone Number:</label>
      <input type="text" id="phone" name="phone" required />

      <label for="message">Message:</label>
      <textarea id="message" name="message" required></textarea>

      <button type="submit">Send Message</button>
    </form>
  </section>

  <!-- Footer Section -->
  <footer>
    <p>&copy; 2024 kavinesh. All rights reserved.</p>
  </footer>
</div>
